.info-icon-tooltip {
  position: relative;
  display: inline-block;
}

.info-icon-tooltip .info-icon {
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #555;
}

.info-icon-tooltip .tooltip-content {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 300px;
  color: #000;
  font-size: 12px;
  text-align: left;
  border-radius: 7px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-icon-tooltip .tooltip-content::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: 8px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.info-icon-tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .info-icon-tooltip {
    position: relative;
  }

  .info-icon-tooltip .tooltip-content {
    position: fixed;
    bottom: auto;
    top: 50%;
    left: 0%;
    text-align: left;
    transform: translate(30%);
  }

  .info-icon-tooltip .tooltip-content::after {
    display: none;
  }
}